*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(202, 199, 199);
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    align-items: center;
    background: #12354a;
}

.titulo{
    color: #fff;
    font-size: 34px;
}
.titulo_link{
    text-decoration: none;
}

.links{
    list-style: none;
    text-decoration: none;
    align-self: center;
    margin-right: 26px;
    color: #fff;
}
.links:hover{
    color: #146886;
}

.mensaje{
    display: flex;
    justify-content: center;
    font-size: 30px;
}


.main{
    width: 100%;
    min-height: calc(100vh - 44px);
}

.section_card{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    margin: 0 10px;
}
.card{
    background-color: #ffffff;
    padding: 10px;
}
.card:hover{
    transform: scale(1.05);
    transition: .6s ;
}
.titulo_card, .precio_card{
    font-size: 20px;
    text-align: center;
}

.img_card{
    align-self: center;
    border-radius: 4px;
    width: 300px;
    height: 300px;
}

.section_card_det{
    padding: 100px;
}

.card_det{
    display: grid;
    grid-template-columns: auto;
    background-color: #ffffff;
    padding: 10px;
}
.titulo_card_det, .precio_card_det{
    font-size: 20px;
    text-align: center;
}

.img_card_det{
    justify-self: center;
    border-radius: 4px;
    width: 300px;
    height: 300px;
    
}
.description_det{
    font-size: 20px;
    text-align: center;
}




.contador{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.boton_contador{
    padding: 4px;
    border: 1px solid #a7bcc4;
    background: #fff;
}
.boton_contador:hover{
    background:#a7bcc4;
    color: #fff;
}

.boton_add{
    border: 1px solid #146886;
    background: #fff;
    padding: 4px;
    width: 40%;
    justify-self: center;
}
.boton_add:hover{
    background: #146886;
    color:#fff;
}



.stock{
    display: flex;
    justify-content: center;
}

.footer{
    margin-top: 10px;
    width: 100%;
    height: 44px;
    bottom: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-between;
    background: #12354a;
    color: #fff;
}

.linkedin{
    color: #fff;
    text-decoration: none;
}
.linkedin:hover{
    color: #146886;
}
.div__a{
    color: #fff;
    padding-left: 16px;
    margin-right: 4px;
    font-size: 25px;
}
.div__a:hover{
    color: #146886;
}