*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(202, 199, 199);
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    align-items: center;
    background: #12354a;
}
.titulo{
    color: #fff;
    font-size: 34px;
    
}
.links{
    list-style: none;
    text-decoration: none;
    align-self: center;
    margin-right: 8px;
    color: #fff;
}
.links:hover{
    color: #146886;
}


.main{
    width: 100%;
    height: 100vh;
}





.footer{
    width: 100%;
    height: 8vh;
    bottom: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-between;
    background: #12354a;
    color: #fff;
}

.linkedin{
    color: #fff;
    text-decoration: none;
}
.linkedin:hover{
    color: #146886;
}
.div__a{
    color: #fff;
    padding-left: 16px;
    margin-right: 4px;
    font-size: 25px;
}
.div__a:hover{
    color: #146886;
}